flask
flask-cors
gunicorn
werkzeug

numpy==1.20.0
pillow
imageio
scikit-image
matplotlib
scikit-learn

tensorflow
keras

androguard
capstone

beautifulsoup4
requests

python-tlsh
